version: 2.1

jobs:
  maven-build-and-test:
    machine: true
    steps:
      - checkout
      - run: |
          if [[ $(git log -1 --pretty=%B) == "CICD pipeline: Update app version" ]]; then circleci-agent step halt; fi
      - run:
          name: Install OpenJDK 11
          command: |
            sudo apt-get update && sudo apt-get install openjdk-11-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-11-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-11-openjdk-amd64/bin/javac
            java -version
      - run:
          name: Maven build & tests
          command: |
            mvn -B -DskipTests clean package
            mvn test
  docker-build-and-push:
    machine: true
    steps:
      - checkout
      - run: |
          if [[ $(git log -1 --pretty=%B) == "CICD pipeline: Update app version" ]]; then circleci-agent step halt; fi
      - run:
          name: "Set env variables"
          command: |
            set -x
            export APP_NAME_AUX=$(grep -A1 "<!-- DO NOT REMOVE THIS AUTOMATION MESSAGE - APP NAME -->" pom.xml | tail -1 | sed -e "s/<name>\(.*\)<\/name>/\1/")
            export APP_NAME=$(echo ${APP_NAME_AUX//[[:blank:]]/})
            export APP_VERSION_AUX=$(grep -A1 "<!-- DO NOT REMOVE THIS AUTOMATION MESSAGE - APP VERSION -->" pom.xml | tail -1 | sed -e "s/<version>\(.*\)<\/version>/\1/")
            export APP_VERSION=$(echo ${APP_VERSION_AUX//[[:blank:]]/})
      - run:
          name: "Build image"
          command: |
            docker build -t $DOCKER_HUB_USER/$DOCKER_HUB_REPO:$APP_NAME-$APP_VERSION .
      - deploy:
          name: Publish application to docker hub
          command: |
            docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
            docker push $DOCKER_HUB_USER/$DOCKER_HUB_REPO:$APP_NAME-$APP_VERSION

workflows:
  set-environment-variables:
    jobs:
      #- maven-build-and-test
      - docker-build-and-push
          #requires:
          #  - maven-build-and-test

